.img{
    image-rendering: optimizeQuality;
    position: relative;
    height: fit-content;

}
.h1{
    display: inline-block;
    color: #4d6ad8;
    font-size: 45px;
    position: relative;
}
.header{
    padding-top: 2%;
}